@import '~bootstrap/scss/variables';

/* colors */
$white-color:#ffffff;
$gray-color:#b8b8b8;
$white-gray-color:#f6f6f6;
$light-gray-color:#d8d8d8;
$light-gray-color2:#d7d7d7;
$pale-cyan-color: #B2EFFF;
$dark-cyan-color: #00A29B;
$light-orange-color:#FF934F;
$white-blue-color:#F4F8FF;
$grayish-blue-color: #99A6B5;
$grayish-blue-color3:#a7b3bf;
$grayish-blue-color2:#c9d0d8;
$grayish-blue-color4:#bac7d4;
$grayish-blue-color5:#a4b1be;
$grayish-blue-color6:#a9b2ba;
$strong-blue-color:#0C8ED7;
$moderate-green-color:#9ed85b;
$soft-red-color:#e85252;
$very-soft-blue-color:#8BC5E6;
$very-soft-blue-color2:#A3D0EA;
$very-soft-blue-color3:#BADAEC;
$soft-blue-color:#8971E9;
$soft-blue-color2:#47A8DE;
$soft-blue-color3:#5CB1E0;
$soft-blue-color4:#74BBE3;
$vivid-blue-color:#1693D9;
$bright-blue-color:#3184dc;
$bright-blue-color2:#2D9CDB;
$light-grayish-blue-color: #f2f4f6;
$light-grayish-blue-color2: #cad6e0;
$light-grayish-blue-color3: #cbd3da;
$light-grayish-blue-color4: #E8ECF2;
$light-grayish-blue-color5: #e9eff9;
$light-grayish-blue-color6: #f2f4f8;
$light-grayish-blue-color7:#CDD6E0;
$light-grayish-blue-color8:#D2E5EF;
$light-grayish-blue-color9:#d8dfe6;
$light-grayish-blue-color10:#d5dee7;
$light-grayish-blue-color11:#eef4fa;
$light-grayish-blue-color12:#f0f1f2;
$light-grayish-blue-color13:#e2e6f0;
$light-grayish-blue-color14:#e1e8ed;
$light-grayish-blue-color15:#f4f8fb;
$light-grayish-blue-color16:#f0f2f8;
$dark-moderate-blue-color: #4776a2;
$dark-moderate-blue-color2:#335777;
$dark-moderate-blue-color3:#2A6687;
$very-light-red-color:#ff7b7b;
$dark-grayish-blue-color: #879daf;
$dark-grayish-blue-color2: #76838f;
$dark-grayish-blue-color3: #6a7088;
$dark-grayish-blue-color4: #7C86A2;
$dark-grayish-blue-color5: #73777b;
$dark-grayish-blue-color6: #8D97A3;
$dark-grayish-blue-color7:  #8e9ba5;
$dark-grayish-blue-color8:  #8b9eab;
$dark-grayish-blue-color9:  #6e7a87;
$dark-grayish-blue-color10:  #8e979e;
$very-dark-grayish-blue-color:#556069;
$very-dark-grayish-blue-color2:#444D58;
$very-dark-grayish-blue-color3:#455058;
$moderate-cyan-color:#33a9bb;
$moderate-cyan-color2:#6bbed7;
$very-dark-desaturated-blue-color:#233c56;
$very-dark-blue-color:#1c3145;
$dark-moderatelime-green-color:#4caf50;
$desaturated-orange-color:#bc9a68;
$very-dark-gray-color:#676767;
$very-light-gray-color:#e6e6e6;
$very-light-gray-color2:#e4e4e4;
$pale-magenta-color:#ff9feb;

/* font-size */
$fs-30:30px;
$fs-28: 28px;
$fs-20: 20px;
$fs-18:18px;
$fs-16: 16px;
$fs-15: 15px;
$fs-14: 14px;
$fs-13: 13px;
$fs-12: 12px;
$fs-11: 11px;
$fs-10: 10px;
$fs-8: 8px;

/* font-weight */
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

// animate
$sidebar-transition-time: 300;
$sidebar-width-open: 200px;
$sidebar-width-closed: 100px;

$content-padding: 5px;
